<div class="container">
    <div class="bookfinder">
        <form (ngSubmit)="findBook()" #findS="ngForm">
            <select class="selector" [(ngModel)]="paramSelected" name="paramSelector">
                <option value="title">Título</option>
                <option value="author">Autor</option>
                <option value="description">Descr.</option>
                <option value="isbn">ISBN</option>
                <option value="price">Precio</option>
                <option value="publisher">Editorial</option>
            </select>
            <input id="search" class="searchbar" type="text" name="searchbar" placeholder="Busca un libro..."
                list="booksOpt" autocomplete="off" [(ngModel)]='bookSelected'>
            <datalist class="datalist" id="booksOpt" name="dataL" ngDefaultControl>
                <option *ngFor="let book of books" name="option" [value]="book.title">
                    Autor {{ book.author }} | Desc. {{ book.description }} | Precio {{ book.price }} | Edit.
                    {{ book.editorial }} | ISBN {{ book.isbn }}
                </option>
            </datalist>
            <button class="button" type="submit" value="submit">Buscar</button>
            <div *ngIf="bookFound">
                <div *ngFor="let book of bookFound">
                    <h2 class="results">Título: {{ book.title }}</h2><br>
                    <h2 class="results">Autor: {{ book.author }}</h2><br>
                    <h2 class="results">ISBN: {{ book.isbn }}</h2><br>
                    <h2 class="results">Descripción: {{ book.description }}</h2><br>
                    <h2 class="results">Editorial: {{ book.editorial }}</h2><br>
                    <h2 class="results">Precio: {{ book.price }} €</h2><br><br>
                </div>
            </div>
        </form>
    </div>

    <br><br><br>

    <button class="getButton" (click)="getBooks()">Mostrar todos los Libros</button>
    <div *ngIf="activated">
        <div *ngFor="let book of books; index as i">
            <h2 class="title"> {{ i+1 }}. {{ book.title }}</h2>
        </div>
    </div>
</div>