.getButton {
    background-color: black;
    padding: 2%;
    margin: auto;
    display: block;
    font-size: 100%;
    color: white;
    border: 0;
}

input::-webkit-calendar-picker-indicator {
	display: none;
}

.selector {
    padding: 1%;
    color: white;
    background-color: black;
    position: relative;
    font-size: 110%;
    margin-left: 15%;
    display: inline-block;
}
.searchbar {
    font-size: 110%;
    position: relative;
    display: inline-block;
    width: 47%;
    padding: 1%;
}

.button {
  position: relative;
  display: inline;
  padding: 1.2%;
  border: 0px;
  background-color: black;
  color: white;
  font-size: 110%;
}

.bookfinder {
    padding-top: 5%;
}

#search-items div:hover {
  background-color: #e9e9e9;
}

#search-active {
    background-color: dodgerblue !important;
    color: #ffffff;
}

#search:focus {
    border-color: black;
}

.results{
    padding-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 1%;
}


.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}