<div class="block">
  <div class="title">
    <h1 class="titleText">{{ title }}</h1>
  </div>
  <div class="container">
    <button class="button" type="button" (click)="toGet()">GET</button>
    <button class="button" type="button" (click)="toBooks()">LISTA DE LIBROS</button>
    <button class="button" id="right" type="button" (click)="toRegister()">REGISTRAR</button>
    <button class="button" id="right" type="button" (click)="toLogin()">LOGIN</button>
  </div>
  <router-outlet class="router"></router-outlet>
</div>