.block {
    border: 2px solid #848484;
    margin-left: 20%;
    margin-right: 20%;
}
#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.button {
    background-color: #9c9c9c;
    border: 0px;
    padding: 1% 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
}
.container button.active {
    background-color: #000000;
}
.button:hover {
    background-color: #868686;
}
.container {
    background-color: #c4c5c5be;
    padding-right: 0%;
}
