<div class="container">
    <div class="title">
        <h1>Registrarse</h1>
    </div>
    <form (ngSubmit)="register()" #registerS="ngForm">

        <a class="namet" for="Name">Nombre</a>
        <div>
            <input type="text" class="form-control" [(ngModel)]="model.name" name="name"
                placeholder="Nombre" required>
        </div>
        <a class="surnamet" for="Surname">Apellido</a>
        <div>
            <input type="text" class="form-control" [(ngModel)]="model.surname" name="surname"
                placeholder="Surname" required>
        </div>

        <a class="emailt" for="Email">E-mail</a>
        <div>
            <input type="email" class="form-control" [(ngModel)]="model.mail" name="mail" placeholder="Email" required>
        </div>

        <a class="pwordt" for="Password">Contraseña</a>
        <div>
            <input type="password" class="form-control" [(ngModel)]="model.password" name="password"
                placeholder="Password" required>
        </div>

        <a class="phonet" for="Phone">Teléfono</a>
        <div>
            <input type="text" class="form-control" [(ngModel)]="model.phone" name="phone"
                placeholder="Teléfono" required>
        </div>

        <button [disabled]="!registerS.form.valid" type="submit" value="Register">Registrar</button>
    </form>
</div>